.certificate-image-etira {
    height: 211px;
    width: 300px;
}

.certificate-image-iso {
    height: 283px;
    width: 200px;
}

.certificate-image-reseller {
    height: 283px;
    width: 219px;
}
